/* Global Styling */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #e8e8e8;
}

.navbar {
  background-color: #282c34;
  padding: 15px;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.navbar ul li {
  margin-right: 30px;
}

.navbar ul li a {
  color: #61dafb;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
}

.navbar ul li a:hover {
  color: #21a1f1;
}

div {
  padding: 20px;
}
